@tailwind base;
@tailwind components;
@tailwind utilities;
.btn::before {
  content: "";
  position: absolute;
  background-color: rgb(238, 238, 231);
  color: black;
  border-radius: 0.375rem /* 6px */;
  text-decoration: #1f1f1f;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  transform: scaleX(0);

  z-index: -1;
  transform-origin: left;

  transition: all 0.8s;
}
.btn:hover::before {
  transform: scaleX(1);
}

.textgradient {
  background: #c6ea8d;
  background: linear-gradient(to right, #c6ea8d 0%, #fe90af 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gg1 {
  background: #0a5a72;
  background: radial-gradient(
    ellipse farthest-corner at top center,
    #0a5a72 0%,
    #000814 57%
  );
}

.gg2 {
  background: #a89620;
  background: radial-gradient(
    ellipse farthest-corner at top right,
    #a89620 0%,
    #000814 62%
  );
}

.flash {
  background: #ffb76b;
  background: linear-gradient(
    to top,
    #ffb76b 0%,
    #ffa73d 30%,
    #ff7c00 60%,
    #ff7f04 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-details {
  transition: height 2s ease; /* Adjust the duration (0.5s) and timing function (ease) as needed */
}

.custom-details[open] {
  transition: height 2s ease; /* Apply the same transition to the open state if needed */
}
